{% extends "base.html" %}
{% load i18n staticfiles %}
{% block content %}
        <div class="banner_section1 forget_container">
            <div class="login_section">
                <form class="login_form_container" id="frgt_pswd" action="{% url 'user_profile:password_forgot' %}" method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="login_form">
                                <h2>{% trans 'Did you forgot your password?' %}</h2>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 d-flex">
                            <div class="login_form">
                                <span class="email_login_txt forgetpass">{% trans 'Enter your email address you\'re using for your account below and we will send you a password reset link' %}</span>
                                <div class="form-group">
	                                {% if fpform.errors %}
	                                    <div class="alert alert-danger remove_dngr" role="alert">{{ fpform.non_field_errors.as_text }}</div>
	                                {% endif %}
	                                <label class="email_address ">{{ form.email }}
	                                    <span class="mail_icon"><img src={% static "images/email.svg" %} alt="enter the email address"></span>
	                                </label>
                                </div>
                                <div class="sign_in d-flex justify-content-between">
                                    <input type="submit" value={% trans "Submit" %} class="signin_button forgetpassbtn">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 d-flex">
                            <div class="login-image">
                                <figure>
                                    <img src={% static "images/forget_password.svg" %} alt="foregt password image" class="img-fluid">
                                </figure>
                            </div>
                        </div>
                        <div class="register">
                            <span>{% trans 'Did you remember your password?' %}</span>
                            <span><a href="{% url 'user_profile:login' %}">{% trans 'Sign In' %}</a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>

<!--modal for displaying messages -- starts -->
 <div class="modal fade modal-bgcolor1" id="suc_msg_popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header forget-link-header1">
            <button class="link1 close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body forget-link-body1">
            <div class="row">
            <p id="suc_msg" class="para-link-center p1"></p>
            </div>
        </div>
      </div>
    </div>
  </div>
 <!-- modal for displaying messages -- Ends -->

{% endblock %}
{% block custom-js %}
/********* After email sent displaying success message - starts *******/
    {% if success %}
        $('#suc_msg_popup').modal();
        $('#suc_msg').text('{{ success }}');
    {% endif %}
/********* After email sent displaying success message - ends *******/

/********* To show invalid email error message - starts *******/
    {% if old_post %}
        $(".forgot_pwd").modal();
    {% endif %}
/********* To show invalid email error message - ends *******/

/********* Refresh form after closing - starts *******/
    $("#forgetPassward").on('hide.bs.modal', function(){
        $('#id_email').val('');
        $('#id_email-error').remove();
        $('.remove_dngr').remove();
        $("#forgt_pswd_form").data('validator').resetForm();
    }); 
/********* Refresh form after closing - ends *******/
{% endblock %}