{% extends 'base.html' %}
{% load i18n staticfiles %}
{% block content %}
    <!-- Start Forget Password -->
    <!-- Modal -->
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="invalid-page col-sm-10 col-md-6 col-lg-6 m-auto">
                    <div class="invalid">
                        <p class="invalid-para">{% trans 'Your Password has been set. Click here to' %} <a href="{% url 'user_profile:login' %}">{% trans 'Login' %}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Forget Password -->
{% endblock %}

