{% extends 'base.html' %}
{% load i18n staticfiles %}
{% block content %}
    <!-- Start Forget Password -->
    <!-- Modal -->
    <div class="modal fade modal-bgcolor" id="forgetLink" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="">
            <div class="modal-header forget-link-header">
                <button class="link close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body forget-link-body">
                <div class="row">
                    <p class="para-link">{% trans 'We have send a link to change your Password. Kindly check your Email.' %}</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    <!-- End Forget Password -->
{% endblock %}
