{% extends 'base.html' %}
{% load i18n staticfiles %}
{% block content %}
        <!-- Start Reset Password -->
        <!-- Modal -->
	        <div class="banner_section1 change_password_section">
	            <div class="login_section">
                {% if validlink %}
                    <form class="login_form_container" id="reset_psw" action="" method="post" class="change_pass">{% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="login_form">
                                <h2>{% trans 'Reset Password' %}</h2>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 d-flex">
                            <div class="login_form login_form_left">
                            <div class="form-group">
                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                            <span>* {{ error|escape }}</span><br />
                                    {% endfor %}
                                {% endfor %}
                                 </div>
                            {% endif %}
                            <label class="email_address">
                                {{ form.new_password1 }}
                                <span class="mail_icon"><img src={% static "images/lock.svg" %}
                                        alt="enter the password"></span>
                                <span class="eye_icon"><img class="show_pswd1" src={% static "images/eye.svg" %}
                                        alt="press the eye password"></span>
                            </label>
                            </div>
                            <div class="form-group">
                                <label class="email_address">
                                     {{ form.new_password2 }}
                                    <span class="mail_icon"><img src={% static "images/lock.svg" %}
                                            alt="enter the password"></span>
                                    <span class="eye_icon"><img class="show_pswd2" src={% static "images/eye.svg" %}
                                            alt="press the eye password"></span>
                                </label>
                            </div>
                            <div class="text-center sign_in d-flex justify-content-between">
                                <input type="submit" value={% trans "Reset Password" %} class="signin_button  forgetpassbtn">
                            </div>
                            </div>
                        </div>
                    </div>
                    </form>
                        
			        {% else %}
			        <div class="wrapper">
			            <div class="container">
			                <div class="row">
			                    <div class="invalid-page col-sm-10 col-md-6 col-lg-6 m-auto">
			                        <div class="invalid">
			                            <h4 class="invalid-heading">{% trans 'Invalid or Expired Link' %}</h4>
			                            <p class="invalid-para">{% trans 'The Password reset link is invalid, beacause possibly it has already been used. Please request a new password reset.' %}</p>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
		           {% endif %}
	            </div>
            </div>
        <!-- End Reset Password -->
{% endblock %}
{% block jsfilesurls %}

/********* Showing & Hiding Password on click - starts *******/

$(document.body).on('click',".show_pswd1",function(){
  var y = document.getElementById("newpassword1");
  if (y.type === "password") {
    y.type = "text";
  } else {
    y.type = "password";
  }
});

$(document.body).on('click',".show_pswd2",function(){
  var z = document.getElementById("newpassword2");
  if (z.type === "password") {
    z.type = "text";
  } else {
    z.type = "password";
  }
});
/********* Showing & Hiding Password on click - ends *******/

{% endblock %}