{% extends 'base.html' %}
{% load i18n staticfiles %}
{% block content %}       
        <div class="banner_section1 change_password_section">
            <div class="login_section">
                <form class="login_form_container" id="chang_pswd" action="{% url 'user_profile:change_password' %}" method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="login_form">
                                <h2>{% trans 'Change Password' %}</h2>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 d-flex">
                            <div class="login_form login_form_left">
                                <div class="form-group">
                                    <label class="email_address">
                                          {{ form.old_password }}
                                          {% if form.old_password.errors %}<label id="old_pass-error" class="error oldpswd_err" for="old_pass" style="list-style: none;">{{ form.old_password.errors }}</label>{% endif %}
                                        <span class="mail_icon"><img src={% static "images/lock.svg" %}
                                                alt="enter the password"></span>
                                        <span class="eye_icon"><img class="show_pswd" src={% static "images/eye.svg" %}
                                                alt="press the eye password"></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="email_address">
                                        {{ form.new_password1 }}
                                        <span class="mail_icon"><img src={% static "images/lock.svg" %}
                                                alt="enter the password"></span>
                                        <span class="eye_icon"><img class="show_pswd1" src={% static "images/eye.svg" %}
                                                alt="press the eye password"></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="email_address">
                                         {{ form.new_password2 }}
                                        <span class="mail_icon"><img src={% static "images/lock.svg" %}
                                                alt="enter the password"></span>
                                        <span class="eye_icon"><img class="show_pswd2" src={% static "images/eye.svg" %}
                                                alt="press the eye password"></span>
                                    </label>
                                </div>
                                <div class="sign_in d-flex justify-content-between">
                                    <input type="submit" value={% trans "Change My Password" %} class="signin_button  forgetpassbtn">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 d-flex">
                            <div class="change_password_content">
                                <p>{% trans 'Password must contain:' %}</p>
                                <ul>
                                    <li>{% trans 'At least 1 Upper Case Letter (A-Z)' %}</li>
                                    <li>{% trans 'At least 1 Number (0-9)' %}</li>
                                    <li>{% trans 'At least 8 Characters' %}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
<!--- Displaying Success message in modal popup - starts --->
    <div class="modal fade modal-bgcolor1" id="succs_succ" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header forget-link-header1">
                <button class="link1 close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body forget-link-body1">
                <div class="row">
                <p id="change_msg" class="para-link-center p1">{% trans 'Password Changed Successfully.' %}</p>
                </div>
            </div>
          </div>
        </div>
    </div>
<!--- Displaying Success message in modal popup - ends --->
 {% endblock %}

{% block custom-js %}
/********* After password change displaying success message - starts *******/
    {% if note %}
        $('#succs_succ').modal();
    {% endif %}
/********* After password change displaying success message - ends *******/

/********* Showing & Hiding Password on click - starts *******/
$(document.body).on('click',".show_pswd",function(){
  var x = document.getElementById("oldpassword");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
});

$(document.body).on('click',".show_pswd1",function(){
  var y = document.getElementById("newpassword1");
  if (y.type === "password") {
    y.type = "text";
  } else {
    y.type = "password";
  }
});

$(document.body).on('click',".show_pswd2",function(){
  var z = document.getElementById("newpassword2");
  if (z.type === "password") {
    z.type = "text";
  } else {
    z.type = "password";
  }
});
/********* Showing & Hiding Password on click - ends *******/

{% endblock %}