{% load i18n staticfiles cms_tags cms_static sekizai_tags %}
<div class="patient_deatils">
    <div class="patient_container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="section_block d-flex justify-content-between">
                    <div class="text_block">
                        <p class="number">1200</p>
                        <span>Total No of Case Registered</span>
                    </div>
                    <div class="patient_block">
                        <img src={% static "images/patient.svg" %} alt="no of patient registration details" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="section_block d-flex justify-content-between">
                    <div class="text_block">
                        <p class="number">923</p>
                        <span>Total No of Case Shortlisted by CCRH</span>
                    </div>
                    <div class="patient_list">
                        <img src={% static "images/patient_list.svg" %} alt="no of patient shortlisted details" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="section_block d-flex justify-content-between">
                    <div class="text_block">
                        <p class="number">e-Tutorial</p>
                        <span>Introduce complex topics</span>
                    </div>
                    <div class="patient_topics">
                        <img src={% static "images/paper.svg" %} alt="complex topics" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>