{% load i18n staticfiles cms_tags cms_static sekizai_tags %}
<div class="logo_section_block">
    <div class="patient_container">
        <div class="owl-carousel links_block" id="logoSection">
            <div class="quick_link_section">
                <figure>
                    <img src={% static "images/national_portal.png" %} alt="national portal of india">
                </figure>
                <div>
                    <p>National Portal of India</p>
                </div>
            </div>
            <div class="quick_link_section">
                <figure>
                    <img src={% static "images/doctors-nurses-coordinate.png" %} alt="doctors nurses coordinate hands has a team">
                </figure>
                <div>
                    <p>National Health Portal</p>
                </div>
            </div>
            <div class="quick_link_section">
                <figure>
                    <img src={% static "images/pg-portal_logo.png" %} alt="portal for public grievances">
                </figure>
                <div>
                    <p>Public Grievances</p>
                </div>
            </div>
            <div class="quick_link_section">
                <figure>
                    <img src={% static "images/my_gov_logo.png" %} alt="my government of india">
                </figure>
                <div>
                    <p>My Government</p>
                </div>
            </div>
        </div>
    </div>
</div>
