{% extends "base.html" %}
{% load i18n staticfiles cms_tags cms_static sekizai_tags %}
{% block content %} 
<div class="banner_section banner_sec">
    <div id="banner_demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% placeholder "Banner Section" %} 
        </div>
        <a class="carousel-control-prev" href="#banner_demo" role="button" data-slide="prev">
            <span><svg xmlns="http://www.w3.org/2000/svg" width="64.111" height="64.111" viewBox="0 0 64.111 64.111">
                    <defs>
                        <style>
                            .a {
                                fill: #e6e6e6 !important;
                            }
                        </style>
                    </defs>
                    <g transform="translate(64.111 32.056) rotate(135)">
                        <path class="a" d="M1.4,2.385V6.626H0V.7A.7.7,0,0,1,.7,0H6.626V1.4H2.385l15.11,15.109-.989.989Z" transform="translate(14.411 14.411)" />
                        <path class="a" d="M22.667,45.333A22.667,22.667,0,1,1,45.333,22.667,22.667,22.667,0,0,1,22.667,45.333Zm0-43.445A20.778,20.778,0,1,0,43.445,22.667,20.778,20.778,0,0,0,22.667,1.889Z" transform="translate(0 0)" />
                    </g>
                </svg></span>
        </a>
        <a class="carousel-control-next" href="#banner_demo" role="button" data-slide="next">
            <span class="left_arrow"><svg xmlns="http://www.w3.org/2000/svg" width="64.111" height="64.111"
                    viewBox="0 0 64.111 64.111">
                    <defs>
                        <style>
                            .a {
                                fill: #e6e6e6 !important;
                            }
                        </style>
                    </defs>
                    <g transform="translate(64.111 32.056) rotate(135)">
                        <path class="a" d="M1.4,2.385V6.626H0V.7A.7.7,0,0,1,.7,0H6.626V1.4H2.385l15.11,15.109-.989.989Z" transform="translate(14.411 14.411)" />
                        <path class="a" d="M22.667,45.333A22.667,22.667,0,1,1,45.333,22.667,22.667,22.667,0,0,1,22.667,45.333Zm0-43.445A20.778,20.778,0,1,0,43.445,22.667,20.778,20.778,0,0,0,22.667,1.889Z" transform="translate(0 0)" />
                    </g>
                </svg></span>
        </a>
    </div>
</div>
{% include "cms/case_history_count.html" %}
    <div class="latest_news_detail">
        <div class="patient_container">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <div class="news_block_container">
                        <div class="news_heading d-flex justify-content-between">
                            <h2><a href="#">Latest News</a></h2>
                            <button class="all_news">All News</button>
                        </div>
                        <div class="row latest_news_blocks">
                            <div class="col-sm-12 col-md-12 col-lg-12 news_content_block">
                                <div class="news_content">
                                    {% placeholder "News Section"%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- latest news section ends -->


                <!-- latest download section ends -->
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="news_heading">
                        <h2><a href="#">Downloads</a></h2>
                    </div>
                    <div class="download_section">
                        {% placeholder "News Download Section"%}
                    </div>
                </div>
                <!-- latest download section ends -->
            </div>
        </div>
    </div>
    <div class="quick_links_block">
        <div class="patient_container">
            <div class="row">
                <div class="col-12">
                    <div class="news_heading d-flex justify-content-between">
                        <h2>{% trans 'Quick Links' %}</h2>
                        <button class="all_news">{% trans 'Expand All' %}</button>
                    </div>
                    <div class="owl-carousel links_block" id="quickLinks">
                        {% placeholder "Quick Link Section" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="media_blocks">
        <div class="patient_container">
            <div class="row media_link_row">
                <div class="col-12">
                    <div class="news_heading d-flex justify-content-between">
                        <h2>{% trans 'Media' %}</h2>
                        <button class="all_news">{% trans 'Expand All' %}</button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 media_section">
                    <div class="media_image_container">
                        {% placeholder "Media Section" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "cms/home_logo_section.html" %}
{% endblock %}