{% load i18n staticfiles cms_tags cms_static sekizai_tags %}
<div class="media_blocks">
        <div class="patient_container">
            <div class="row">
                <div class="col-12">
                    <div class="news_heading d-flex justify-content-between">
                        <h2>{% trans 'Media' %}</h2>
                        <button class="all_news">{% trans 'Expand All' %}</button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="media_image_container">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="image_block">
                                    <figure>
                                        <img src={% static "images/media1.png" %} alt="photograph of NHRIMH" class="img-fluid">
                                    </figure>
                                    <div class="media_content">
                                        <span class="media_line"></span>
                                        <p>{% trans 'Inaugural photographs NHRIMH' %}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="image_block">
                                    <figure>
                                        <img src={% static "images/media2.png" %} alt="photograph of NHRIMH" class="img-fluid">
                                    </figure>
                                    <div class="media_content">
                                        <span class="media_line"></span>
                                        <p>{% trans 'Indo-Japan Seminar' %}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="image_block">
                                    <figure>
                                        <img src={% static "images/media3.png" %} alt="photograph of NHRIMH" class="img-fluid">
                                    </figure>
                                    <div class="media_content">
                                        <span class="media_line"></span>
                                        <p>{% trans 'CCRH VISITORS 2017' %}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="image_block">
                                    <figure>
                                        <img src={% static "images/media4.png" %} alt="photograph of NHRIMH" class="img-fluid">
                                    </figure>
                                    <div class="media_content">
                                        <span class="media_line"></span>
                                        <p>{% trans 'DDPR CRI(H) Noida' %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="youtube_block">
                        <figure>
                            <img src={% static "images/youtube1.png" %} alt="youtube videos" class="img-fluid">
                            <div class="overlay"></div>
                            <div class="youtube_play_button">
                                <img src={% static "images/play.svg" %} alt="it will play the video">
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>