{% load i18n staticfiles cms_tags cms_static sekizai_tags %}
<div class="quick_links_block">
        <!-- <button class="previuos"><img src="images/arrow_mark.svg" alt="prevoius arrows"></button>
        <button class="previuos Nxt"><img src="images/arrow_mark.svg" alt="next arrows"></button> -->
        <div class="patient_container">
            <div class="row">
                <div class="col-12">
                    <div class="news_heading d-flex justify-content-between">
                        <h2>Quick Links</h2>
                        <button class="all_news">Expand All</button>
                    </div>
                    <div class="owl-carousel links_block" id="quickLinks">
                        <div class="quick_link_sectio">
                            <figure>
                                <img src={% static "images/interior-laboratory.png" %} alt="interior laboratory research center" class="img-fluid">
                            </figure>
                            <div>
                                <p>Intramural Research (IMR)</p>
                            </div>
                        </div>
                        <div class="quick_link_sectio">
                            <figure>
                                <img src={% static "images/doctors-nurses-coordinate.png" %} alt="doctors nurses coordinate hands has a team" class="img-fluid">
                            </figure>
                            <div>
                                <p>International cooperation / MoUs</p>
                            </div>
                        </div>
                        <div class="quick_link_sectio">
                            <figure>
                                <img src={% static "images/alternative-medicine.png" %} alt="alternative medicine concept with natural treatment" class="img-fluid">
                            </figure>
                            <div>
                                <p>National Collaborations with Homoeopathic ... Colleges / National MoUs</p>
                            </div>
                        </div>
                        <div class="quick_link_sectio">
                            <figure>
                                <img src={% static "images/herbal-organic-medicine.png" %} alt="herbal organic medicine product" class="img-fluid">
                            </figure>
                            <div>
                                <p>Expression of Interest for Collaborative Research</p>
                            </div>
                        </div>
                        <div class="quick_link_sectio">
                            <figure>
                                <img src={% static "images/homeopathic-globules.png" %} alt="homeopathic globules glass bottle" class="img-fluid">
                            </figure>
                            <div>
                                <p>Extra Mural Research (EMR)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>